<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_popup01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{434,288}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{434,288}}</string>
                <key>sourceSize</key>
                <string>{436,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GJ_popup.png</string>
            <key>size</key>
            <string>{434,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb2d6062dd325ea83180f8287f991bbc$</string>
            <key>textureFileName</key>
            <string>GJ_popup.png</string>
        </dict>
    </dict>
</plist>
